* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 15%);
    overflow: hidden;
    border-radius: 10px;
}

.container .keys {
    margin-top: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.container .keys button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: hsl(0, 0%, 30%);
    font-size: 30px;
    color: white;
    transition: 1ms ease;
}

.container .keys button:hover {
    background-color: hsl(0, 0%, 40%);
}

.container .keys button:active{
    background-color: hsl(0, 0%, 50%);
}

.container .keys #operator {
    background-color: hsl(30, 100%, 55%);
}
.container .keys #operator:hover {
    background-color: hsl(30, 100%, 65%);
}

.container .keys #operator:active {
    background-color: hsl(30, 100%, 70%);
}

.container .display {
    width: 100%;
    font-size: 40px;
    height: 100px;
    padding: 20px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    font-family: 'Seven Segment', sans-serif;
    color: hsl(0, 0%, 80%); /* Light gray */
}